/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

html{
  background-color: #a04a40;
}
header{
  background-color: #29B1C1;
  Margin:-8px;
  margin-bottom: 10px;
  padding: 10px;
}

h1, h2, h6, p{
  max-width: 60ch;
}
h1,h2,h6{
  font-weight: 900;
}
h1{
  font-size: 2.5rem;
  text-align: center;
}
.hero{
  Background-color: #53363c;
  color: #9ae6ae;
  padding: 10px;
  margin: 0 auto; 
  margin-bottom: 10px;
  border-radius: 8px;
}
.poem{
  background-color: #BDABA9;
  color: #53363c;
  padding: 10px;
  max-width: 60rem;
  margin: 0 auto;    
  margin-bottom: 15px;
  border-radius: 8px;
}
img{
  width: 100%;
  height: auto;
}
h2{
  font-size: 3rem;
}
h6{
  font-size: 1rem
}
p{
  font-size: 1.2rem;
}
#links a{
  color:#0000c5;
}
footer{
  padding: 10px;
  background-color: #29B1C1;
  Margin:-8px;
  font-size: 1.15rem;
  text-align: center;
}
@media screen and (min-width: 60em){
  h1{
      text-align: center;
      max-width: none;
  }
  .content{
      display: flex;
      flex-direction: row;
      gap: 2em;
  }
  img{
      width: 100%;
      max-width: 600px;
      height: auto;
  }
}
